* {
    padding: 0;
    margin: 0;
}
#main-container{
    padding: 50px;
}
body {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100vh;
    background-color: #f4e4ba;
}
#main-container {
    background-color: white;
    padding: 1.5rem;
    border-radius: 1rem;
    height: 55vh;
    width: 55vh;
}
 form {
    margin: 2rem 0 1rem 0 ;
} 
input , select , button {
    width: 100%;
    border: none;
    outline: none;
}
form input {
    border: 1px solid lightgray;
    font-size: 1rem;
    height: 2rem;
    border-radius: 0.40rem;
}
.dropdown {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem;
}
.dropdown i {
    font-size: 1.5rem;
    margin-top: 1rem;
}
.select-container img {
    max-width: 2rem;
} 
.select-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border: 1px solid lightgray;
    border-radius: 0.2rem;
}
.select-container select {
    font-size: 1rem;
    width: auto;
}
form .msg {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0 2rem 0;
    font-size: 1.40rem;
}
form button {
    background-color: #a02784;
    height: 3rem;
    border-radius: 1rem;
    color: white;
    font-size: 1.15rem;
    cursor: pointer;
}